body{
    background-color: #DEDCC7;
}

div{
    width: 900px;
    max-width: 900px;
}

a{
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color:#5D6368;
}
a:hover{
    color:#fcfcec;
}

#cabecalho img{
    height: 388px;
    width: 900px;
}
.menu{
    padding-top: 12px;
    text-align: left;
    height: 60px;
    background-color: #D4D3BE;
}

#central{
    padding-top: 1px;
    padding-bottom: 5px;
    background-color: #fcfcec;
    text-align: top;
    height: auto;
}
#central h2{
    padding-left: 8px;
    font-weight: 900;
    color:#A6A496;
}
#central div{
    padding-left: 8px;
}
#central img{
    border-style: outset;
    border-width: 10px;
    border-color: #d3d5be;
}
#central p{
    max-width: 100%;
}
div.texto{
    text-align: justify;
    width: 850px;
}