body{
    height: 100vh;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
    
}
#cabecalho{
    background-color: #f7b600;
    position: relative;
    top: -27px;
    left: -8px;
    width: 100vw;
    height: 150px;
}

div#logo{
    min-width: 110px;
    width: 35vw;
    max-width: 150px;
    margin: 25px auto;
    justify-content: center;
}
#logo h1{
    font-size: 2.5em;
} 
#logo span#tec{
    color: #4e4e4e;
}
#logo span#blog{
    color: white;
}

#menu{
    height: auto;
    min-width: 400px;
    width: 70vw;
    max-width: 550px;
    margin: 20px auto;
    justify-content: center;
    font-size: 16px;
}
#menu a{
    padding:5px;
    margin:6px;
    color: white;
    font-weight: 900;
}
#menu a:hover{
    font-weight: 900;
    background-color: white;
    color:#f7b600;
}
#central{
    float:left;
    position: relative;
    background-color: grey;
    left: 25vw;
    min-width: 750px;
    width: 40vw;
    max-width: 70vw;
}
#central div{
    margin-top: 20px;
    border: #f7b600;
    border-style:outset ;
    background-color: azure;
    width: 500px;
}
#lateral{
    float:left;
    margin:12px 10px;
}
#lateral img{
    width: 29vw;
    padding: 20px;
}
#lateral p{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}