body{
    font-size: 1em;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
    
}
#cabecalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#menu, #logo{
    padding: 10px;
}
#tec{
    color: #4e4e4e;
}
#blog{
    color: white;
}
#central{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}
#postagens{
    float:left;
    width: 660px;
}
.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}
.dataPost{
    font: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;

}
#lateral{
    float:right;
    width: 240px;
}
#rodape{
    padding: 15px;
    background-color: #CCC;
    text-align: center;
    clear:both;

}
.conteudoLateral{
    background-color:white;
    padding: 10px;
    margin-bottom: 20px;
}
.textoLateral{
    
}
.postagemLateral{
    font-size: 0.8em;
    padding: 5px;
}
/*Formatação de links*/
#cabecalho a:visited, #cabecalho a:link{
    color: #fff;
}
#cabecalho a:hover{
    color: #f7b600;
    background-color: #FFF;
}

a:visited, a:hover{
    color: #f7b600;
    text-decoration: underline;
}
/*Formatações*/
h1{
    font-size: 2.5em;
}
h2{
    color: #f7b600;
}
h3{
    background-color: #CCC;
    padding: 5px;
    font-weight: bold
}
#cabecalho a{
    text-decoration: none;
    color: #FFF;
    margin: 10px;
}











